body {
	padding-top: 15px;
}
#idroomtype {
	max-width: 150px;
}
.changeRateLabel {
	width: 150px;
}
#rateTable {
	margin-top: 10px;
	border-top: 2px solid #ccc;
}
.dateRange {
	width: 100% !important;
}
#rateMonthBox {
	text-align: center;
}
#firstColumn {
	width: 180px;
}
#selectMonthBtn {
	cursor: pointer;
}
.monthBtn {
	cursor: pointer;
}
.MonthDatePicker .ui-datepicker-year
{
    display:none;   
}
.HideTodayButton .ui-datepicker-buttonpane .ui-datepicker-current
{
    visibility:hidden;
}
.hide-calendar .ui-datepicker-calendar
{
	display:none!important;
	visibility:hidden!important
}
.error {
	font-size: 10px;
	color: red;
}
.days {
	text-transform: capitalize;
}
#rateMonthBox {
	width: 200px;
	border: 1px;
	margin: 0 auto;
}
#monthSelection {
	position: absolute;
    margin-left: -55px;
    border: 1px solid #ccc;
	width: 300px;
	height: 86px;
	background: #fff;
	border-radius: 3px;
	padding-top: 6px;
}
#rateMonthBox table {
	width: 100%;
}
#rateMonthBox table #left, #rateMonthBox table #right{
	width: 40px;
}
.top5px {
	margin-top: 5px;
}
.weekendsLabel {
	background: #E88E5A;
	color: #fff;
	text-align: center;
}
.weekdaysLabel {
	background: #ccc;
	color: #fff;
	text-align: center;
}
.dayNo {
	text-align: center;
	width: 6%;
}
#roomTypeBox {
	left: 0;
	top: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	max-width: 700px;
	background: #fff;
	border-right: 1px solid #ccc;
	z-index: 999;
}
#roomTypeBox #top{
	height: 25px;
	text-align: right;
}
#roomTypeBox #content {
	height: calc(100% - 25px);
	overflow: auto;
	width: 100%;
	height: 100%;
}
.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: 1s;
}