body {
	padding-top: 15px;
}
#idroomtype {
	max-width: 150px;
}
.changeRateLabel {
	width: 150px;
}
#rateTable {
	margin-top: 10px;
	border-top: 2px solid #ccc;
}
.dateRange {
	width: 100% !important;
}
#rateMonthBox {
	text-align: center;
}
#firstColumn {
	width: 180px;
}
#selectMonthBtn {
	cursor: pointer;
}
.monthBtn {
	cursor: pointer;
}
.MonthDatePicker .ui-datepicker-year
{
    display:none;   
}
.HideTodayButton .ui-datepicker-buttonpane .ui-datepicker-current
{
    visibility:hidden;
}

.hide-calendar .ui-datepicker-calendar
{
	display:none!important;
	visibility:hidden!important
}