<!DOCTYPE html>
<html lang="en" ng-app="zenroomsApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="RateController">
	
	<div class="container-fluid">
		<form class="form-inline" id="setRateForm" name="setRateForm" ng-submit="setRates()">
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th><a id="operationBtn" href="javascript:void(0);">Bulk Operations</a></th>
					</tr>
				</thead>
				<tbody id="operationsBox">
					<tr>
						<td>
							<div class="form-group">
								<label for="idroomtype">Select Room:</label>
								<select ng-model="rateForm.idroomtype" id="idroomtype" class="form-control" name="idroomtype" required>
									<option value="">----select----</option>
									<option ng-repeat="roomtype in roomtypes"
								            value="{{roomtype.idroomtype}}" data-minimumprice="{{roomtype.minimumprice}}">{{roomtype.roomtypename}}</option>
								</select>
								<span class="error" ng-show="setRateForm.$submitted && setRateForm.idroomtype.$error.required">Roomtypes is required.</span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="row">
								<div class="col-sm-12 col-md-4">
									<div class="row">
										<div class="col-sm-3 col-md-4">
											Select Days
										</div>
										<div class="col-sm-9 col-md-8">
											<div class="row">
												<div class="col-xs-3 col-sm-2 col-md-4">From</div>
												<div class="col-xs-9 col-sm-4 col-md-8">
													<input type="date" class="form-control dateRange" id="startDate" name="startDate" ng-model="rateForm.startDate" required placeholder="yyyy-MM-dd" >
													<p class="error" ng-show="setRateForm.$submitted && setRateForm.startDate.$error.required">From date is required.</p>
													<p class="error" ng-show="setRateForm.$submitted && setRateForm.startDate.$error.date">Not a valid date!</p>
												</div>
												<div class="col-xs-3 col-sm-2 col-md-4">To</div>
												<div class="col-xs-9 col-sm-4 col-md-8">
													<input type="date" class="form-control dateRange" id="endDate" name="endDate" min="rateForm.startDate" ng-model="rateForm.endDate" required placeholder="yyyy-MM-dd" >
													<p class="error" ng-show="setRateForm.$submitted && setRateForm.endDate.$error.required">To date is required.</p>
													<p class="error" ng-show="setRateForm.$submitted && setRateForm.endDate.$error.date">Not a valid date!</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-8">
									<div class="row">
										<div class="col-sm-12 col-md-2">
											Refine Days:
										</div>
										<div class="col-sm-12 col-md-10">
											<div class="row">
												<div class="col-sm-5 col-md-3">
													<div class="row">
														<div class="col-xs-6 col-sm-12" ng-repeat="(key, val) in rateForm.daysRange"><input type="checkbox" name="daysRange[]" ng-model="val.Selected" value="{{val.value}}" ng-click="daysRangeToggle(val.value)">{{val.label}}</div>
													</div>
												</div>
												<div class="col-sm-7 col-md-8">
													<div class="row">
														<div class="col-xs-6 col-sm-4" ng-repeat="(key, val) in rateForm.days"><input type="checkbox" name="days[]" ng-model="val.Selected" ng-click="dayToggle(val.type)" value="{{val.value}}" ng-change="countDay(val)"> <span class="days">{{val.label}}</span></div>
													</div>
													<p class="error" ng-show="setRateForm.$submitted && dayChecked == 0">Please select some day</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<table>
								<tr>
									<td class="changeRateLabel">Change Price To:</td>
									<td>
										<input type="number" min="0" ng-model="rateForm.price" name="price" step="0.01" class="form-control" required>
										<p class="error" ng-show="setRateForm.$submitted && setRateForm.price.$error.required">Price is required.</p>
										<p class="error" ng-show="setRateForm.$submitted && setRateForm.price.$error.number">Not a valid Price!</p>
										<p class="error" ng-show="setRateForm.$submitted && setRateForm.price.$error.min">Price cannot less then 0</p>
									</td>
								</tr>
								<tr>
									<td>Change Availability To:</td>
									<td>
										<input type="number" min="0" step="1" ng-model="rateForm.availability" name="availability" class="form-control" required>
										<p class="error" ng-show="setRateForm.$submitted && setRateForm.availability.$error.required">Availability is required.</p>
										<p class="error" ng-show="setRateForm.$submitted && setRateForm.availability.$error.number">Not a valid Availability!</p>
										<p class="error" ng-show="setRateForm.$submitted && setRateForm.availability.$error.min">Availability cannot less then 0</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-default" type="reset">Cancel</button> <button class="btn btn-success" type="submit">Uodate</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<div id="rateTable">
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th rowspan="3" id="firstColumn">Price and Availability</th>
						<th colspan="100%">
							<div id="rateMonthBox">
								<table>
									<tr>
										<td id="left">
											<span class="monthBtn" ng-click="navigate('backward')"><i class="fa fa-chevron-left" aria-hidden="true"></i></span> &nbsp;
											<span id="selectMonthBtn"><i class="fa fa-caret-down" aria-hidden="true" ng-click="calendarToggle()"></i></span> 
										</td>
										<td>
											<input type="hidden" id="rateMonth" ng-model="calendarDate" ng-change="getRates()"><span id="monthLabel">{{calendarLabel}}</span>
										</td>
										<td id="right">
											<span class="monthBtn" ng-click="navigate('forward')"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
										</td>
									</tr>
								</table>
								<div class="form-inline" id="monthSelection" ng-show="showMonthSelection">
									<div class="form-group">
									    <label>Month</label>
									    <select class="form-control" ng-model="monthSelectionMonth">
									    	<option ng-repeat="(key, val) in months()" value="{{key}}">{{val}}</option>
									    </select>
									</div>
									<div class="form-group">
									    <label>Year</label>
									    <select class="form-control" ng-model="monthSelectionYear">
									    	<option ng-repeat="(key, val) in years()" value="{{val}}">{{val}}</option>
									    </select>
									</div>
									<button type="button" class="btn btn-warning top5px" ng-click="showMonthSelection = false"><i class="fa fa-close" aria-hidden="true"></i></button>
									<button type="button" class="btn btn-success top5px" ng-click="updateMonthSelection()"><i class="fa fa-check" aria-hidden="true"></i></button>
								</div>
							</div>
						</th>
					</tr>
					<tr id="dayNumber"><th ng-repeat="val in daysOfMonth" class="dayNo">{{val.day}}</th></tr>
					<tr id="dayLabel"><th ng-repeat="val in daysOfMonth" class="{{['Sat', 'Sun'].indexOf(val.label) != -1 ? 'weekendsLabel' : 'weekdaysLabel'}}">{{val.label}}</th></tr>
				</thead>
				<tbody id="rateList">
					
				</tbody>
			</table>
		</div>
	</div>
	<script src="assets/angular/angular.min.js"></script>
	<script src="assets/jquery/jquery-3.1.1.min.js"></script>
	<script src="assets/jquery-ui/jquery-ui.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/moment/moment.js"></script>
	<script src="js/app.js"></script>
</body>
</html>